@media only screen and (min-width: 320px) and (max-height: 568px) {
    .header__bg_img{
        position: absolute;
        width: 1175px;
        height: 2080px;
        background-size: cover;
    }
    .header__bg_gradient{
        position: absolute;
        background: linear-gradient(180deg, rgba(45, 50, 79, 0.8) 0%, rgba(0, 147, 221, 0.72) 100%);
        width: 1175px;
        height: 2080px;
        top: -1px;
    }
    .article__menu1_bg{
        position: absolute;
        width: 227px;
        height: 45px;
        margin-left: 30px;
        margin-top: -450px;
        background: #2D324F;
        box-sizing: border-box;
        box-shadow: 0px 4px 10px rgba(0, 147, 221, 0.45);
        border-radius: 5px;
        display: none;
    }
    .article__menu2_bg{
        position: absolute;
        width: 227px;
        height: 45px;
        margin-left: 30px;
        margin-top: -380px;
        background: #2D324F;
        box-sizing: border-box;
        box-shadow: 0px 4px 10px rgba(0, 147, 221, 0.45);
        border-radius: 5px;
        display: none;
    }
    .article__menu3_bg{
        position: absolute;
        width: 227px;
        height: 45px;
        margin-left: 30px;
        margin-top: -315px;
        background: #2D324F;
        box-shadow: 0px 4px 10px rgba(0, 147, 221, 0.45);
        border-radius: 5px;
        display: none;
    }
    .article__menu4_bg{
        position: absolute;
        width: 227px;
        height: 45px;
        margin-left: 30px;
        margin-top: -250px;
        background: #2D324F;
        box-shadow: 0px 4px 10px rgba(0, 147, 221, 0.45);
        border-radius: 5px;
        display: none;
    }
    .article__menu1_text{
        position: absolute;
        margin-left: 46px;
        margin-top: -440px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        text-transform: uppercase;
        color: #F2F2F2;
        z-index: 1;
        text-decoration: none;
        display: none;
    }
    .article__menu2_text{
        position: absolute;
        margin-left: 46px;
        margin-top: -370px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        text-transform: uppercase;
        color: #F2F2F2;
        z-index: 1;
        text-decoration: none;
        display: none;
    }
    .article__menu3_text{
        position: absolute;
        margin-left: 46px;
        margin-top: -305px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        text-transform: uppercase;
        color: #F2F2F2;
        z-index: 1;
        text-decoration: none;
        display: none;
    }
    .article__menu4_text{
        position: absolute;
        margin-left: 46px;
        margin-top: -240px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        text-transform: uppercase;
        color: #F2F2F2;
        z-index: 1;
        text-decoration: none;
        display: none;
    }
    .trigger{
        position: absolute;
        width: 74px;
        height: 74px;
        left: -190px;
        top: 1270px;
    }
    #trigger1{
        position: absolute;
        width: 74px;
        height: 74px;
        left: -150px;
        top: 1270px;
    }
    .aside__planet{
        position: absolute;
        left: 255px;
        top: 755px;
        height: 669px;
        width: 700px;
    }
    .aside__text_h1{
        position: absolute;
        left: -184px;
        top: 1590px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 55px;
        line-height: 88px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    .aside__text_price{
        position: absolute;
        left: -194px;
        top: 1595px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.7);
    }
    .aside__text__number_price{
        position: absolute;
        left: -194px;
        top: 1605px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 21px;
        color: #FFFFFF;
    }
    .aside__text__sale{
        position: absolute;
        left: -194px;
        top: 1615px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.7);
        white-space: nowrap;
    }
    .aside__text__sale_Decision{
        position: absolute;
        left: -194px;
        top: 1625px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 21px;
        color: #FFFFFF;
    }
    .aside__text_Several_locations{
        position: absolute;
        left: -174px;
        top: 1595px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.7);
        white-space: nowrap;
    }
    .aside__text__Several_locations_Decision{
        position: absolute;
        left: -174px;
        top: 1605px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 21px;
        color: #FFFFFF;
    }
    .aside__text_Mass{
        position: absolute;
        left: -174px;
        top: 1615px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.7);

    }
    .aside__text__Mass_kg{
        position: absolute;
        left: -174px;
        top: 1625px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 21px;
        color: #FFFFFF;
        white-space: nowrap;

    }
    .aside__text_Powered_by{
        position: absolute;
        left: -144px;
        top: 1595px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.7);
        white-space: nowrap;
    }
    .aside__text_Power_socket{
        position: absolute;
        left: -148px;
        top: 1605px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        white-space: nowrap;
        font-size: 25px;
        line-height: 21px;
        color: #FFFFFF;
    }
    .text__footer_Become_dealer{
        position: absolute;
        left: 30px;
        top: 2050px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 16px;
        text-transform: uppercase;
        color: #F2F2F2;
    }
    .text__footer_Request_a_test{
        position: absolute;
        left: 158px;
        top: 2050px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 16px;
        text-transform: uppercase;
        color: #F2F2F2;
        white-space: nowrap;
    }
    .line_one{
        position: absolute;
        width: 214px;
        height: 5px;
        left: 30px;
        top: 2070px;
        border: 2px solid rgba(242, 242, 242, 0.5);

    }
    .line_two{
        position: absolute;
        width: 214px;
        height: 5px;
        left: 158px;
        top: 2070px;
        border: 2px solid rgba(242, 242, 242, 0.5);
    }
    .img_ping{
        position: absolute;
        left: 1px;
        top: 1px;
        width: 120px;
        height: 120px;
        z-index: 1;
    }
    .logo_text{
        position: absolute;
        left: 24px;
        top: 87px;
        z-index: 1;
        font-size: 30px;
    }
}